.actividades {
    text-align: left;
    font-size: x-large;
    font-language-override: unset;
    text-align-last: auto;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
}
.lead {
    font-size: 20px;
}
.option {
    color: black;
    font-family: sans-serif;
    font-size: medium;
}
