p {
    font-style: normal;
    font-family: sans-serif;
    line-height: 1cm;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    padding: 30px 25px 75px 30px;
    margin-top: 20px;
    margin-left: 15px;
}
img {
    margin-top: 10px;
}