/*Inicio Reseteo*/

* {

    padding: 0;

    margin: 0px;

    box-sizing: border-box;
}

/*Fin Reseteo*/

.actividades {
    text-align: left;
    font-size: x-large;
    font-language-override: unset;
    text-align-last: auto;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
}

.parrafo {
    font-size: 20px;
    text-align: left;
    text-decoration-color: black;
    font-family: sans-serif;
}

.imagenSurf {
    position: relative;
    left: 20px;
}

.imagenPsurf {
    position: sticky;
    border-top: 3cm;
    border-color: black;
    left: 20px;
    right: 50px;
}

.imagenPaddle {
    left: 20px;
}

.imagenClase2 {
    left: 20px;
}

input {
    display: grid;
width: 70%;
}

img {
    margin-top: 10px;
}

iframe {
    display: grid;
    justify-items: left;
    align-content: flex-start;
}

p {
    font-style: normal;
    font-family: sans-serif;
    line-height: 1cm;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    padding: 30px 25px 75px 30px;
    margin-top: 20px;
    margin-left: 15px;
}

li {
    font-size: 23px;
    font-style: normal;
    font-family: sans-serif;
    color: black;
    padding: 30px 10px 30px 10px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;

}

a {
    font-style: normal;
    font-family: sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 400;
}

h1 {
    padding: 30px 25px 75px 30px;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 40px;
    font-family: sans-serif;
    font-stretch: narrower;
    color: rgb(15, 14, 14);
    text-align: center;
    background-image: url(../imagenes/fondodonfo\ \(1\).jpg);
    height: 11vh;
    opacity: 80%;

}

h2 {
    padding: 20px 15px 35px 15px;
    margin-top: 10px;
    margin-left: 10px;
}

body {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif sans-serif;
    background-color: rgb(249, 250, 245);
    text-align: left;
    background-attachment: scroll;
    margin-top: 20px;
    display: grid;

}


img {

    max-width: 100%;
}

div {
    font-size: large;
    font-family: sans-serif;
    color: black;
    padding: 30px 25px 35px 20px;
    margin-top: 10px;
    text-align: left;
}

form {
    font-weight: 700;
    font-family: sans-serif;
    display: grid;
}

h4 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-display: grid;
}

label,
br {
    font-family: sans-serif;
    font-style: normal;
    color: black;
    font-weight: 900px;
}

h6,
h5 {
    font-size: 22px;
    margin-top: 10px;
    padding: 10px 15px;
}

option {
    color: black;
    font-family: sans-serif;
    font-size: medium;
}

.lead{
    font-size: 20px;
}
.nav {
    
    height: 11vh;
    background-color: rgb(249, 250, 245);
    opacity: 80%;
}

.border {
    border: 10px solid black;
border-color: black;
}



.hijo {
    display: grid;
    align-content: center;
    align-items: center;
    padding: 40px 40px 40px 40px;
    margin-top: 40px;
    margin-left: 20px;
    height: -20vh;

}



.padre {
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas:
        "foto1 foto2 foto3"
        "foto4 foto5 foto6"
    ;
    justify-content: stretch;
}

.foto1 {
    grid-area: foto1;
}

.foto2 {
    grid-area: foto2;
}

.foto3 {
    grid-area: foto3;
}

.foto4 {
    grid-area: foto4;
}

.foto5 {
    grid-area: foto5;
}

.foto6 {
    grid-area: foto6;
}

.container{
 font-size: black;
 padding: 0%;
 border: 3px black;   
}


f-s2{
    font-size: 30px;
}

@media only screen and (max-width: 425px) {
    nav {
        background-color: rgb(249, 250, 245);
    }

    .padre {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr;
        grid-template-areas:
            "foto1"
            "foto2"
            "foto3"
            "foto4"
            "foto5"
            "foto6"
        ;
    }
}

@media only screen and (max-width: 426px) {
    nav {
        background-color: rgb(249, 250, 245);
    }

    .padre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "foto1 foto2"
            "foto3 foto4"
            "foto5 foto6"
        ;
    }
}

@media only screen and (min-width: 650px) {
    nav {
        background-color: rgb(249, 250, 245);
    }

    .padre {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "foto1 foto2 foto3"
            "foto4 foto5 foto6"
        ;
    }
}




.header_naf {
    display: flex;
    justify-content: space-around;
}

.nav {
    display: flex;
    list-style: none;
}


.nav li {
    margin: 20px;
    padding: 10px;
    border: solid 1px;
    border-radius: 20px;
}

.nav li:hover {
    margin: 20px;
    padding: 10px;
    border: solid 1px;
    border-radius: 20px;
    background-color: rgb(231, 143, 9);
    opacity: 74%;
}

.header_nav-caja {
    width: 80px;
    height: auto;
}